# snakemake directory
.snakemake

# directories to build genome
3d_*
3DGB*
tmp*

# singularity images
images/*
!images/.gitkeep

# config file
config.yml

# HiCPlotter script
scripts/HiCPlotter.py

# dag
rules.pdf
dag.pdf

# Python cache
__pycache__/

# Jupyter checkpoints
# and temporary notebooks
.ipynb_checkpoints/
Untitled*.ipynb
