# snakemake directory
.snakemake

# directories to build genome
3d_*

# singularity images
images/*
!images/.gitkeep

# HiCPlotter script
scripts/HiCPlotter.py

# dag
rules.pdf
dag.pdf

# Jupyter checkpoints
# and temp notebooks
.ipynb_checkpoints/
Untitled*.ipynb
